@use 'recetas';
@use 'servicios';
@use 'galeria';

$color-principal: whitesmoke;

* { 
    margin: 0;
    padding: 0;
  }
  
//Estilos generales del body
  body {
    background-image: url("../img/background-index.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    font-family:'Montserrat', sans-serif;
    color: $color-principal;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  }

//Modificaciones de fondo para las pages
  .pages {
    background-image: url("../img/background-pages.jpg");
    background-size: cover;
    background-repeat: no-repeat;
  }

//Estilos barra de navegación
  .navbar-toggler {
    background-color: rgb(210, 210, 210);
    border: solid 1px rgb(90,90, 90);
    font-family:'Montserrat', sans-serif;
  }
  .nav-link {
    color:$color-principal;
    background-color: rgb(90,90, 90);
    font-family:'Montserrat', sans-serif;
  }

//Estilos del footer
footer {
  margin-top: auto ;
}
  .d-flex{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    color: $color-principal;
  }
  .links img {
    width: 50px;
    height: 50px;
  }

//Estilos imagen de inicio
$pantallas: (
    mm : 321px,
    ml : 376px,    
    sm : 426px,
);

@mixin media-up($pantalla){
    @media screen and (max-width: map-get($pantallas, $pantalla)) {
        @content;
        
    }
}
#indeximg img {
  max-height: 40rem;
  @include media-up(mm){
    margin-top: 40rem;
}
@include media-up(ml){
    margin-top: 25rem;
}
@include media-up(sm){
    margin-top: 10rem;
}
}